{% extends 'core/base.html' %}

{% block content %}
<h1>Доступные туры</h1>
{% for country in countries %}
<div class="country">
    <h2>{{ country.name }}</h2>
    <p>Климат летом: {{ country.summer_climate }}</p>
    
    <div class="hotels">
        {% for hotel in country.hotel_set.all %}
        <div class="hotel">
            <h3>{{ hotel.name }} ({{ hotel.stars }}★)</h3>
            <p>Цена за день: ${{ hotel.price_per_day }}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endfor %}
{% endblock %}